DonwloadData/bin
DownloadData/obj
esriUtil/bin
esriUtil/obj
RMRSBatchProcess/Bin
RMRSBatchProcess/obj
saveSubset/Bin
saveSubset/obj
serviceToolbar/bin
serviceToolbar/obj
TestConsole/bin
TestConsole/obj
